{% extends 'base.html' %}
{% load static wagtailcore_tags %}

{% block side_bard %}
  {% include 'includes/side-bar.html' with page_menu='department_head_page' %}
{% endblock %}

{% block content %}
    <section class="container pt-10 mx-auto space-y-4">
        <div class='pl-4'>
            <h1 class="font-sans text-xl italic font-bold text-gray-700">Welcome, {{request.user.first_name}} {{request.user.last_name}}</h1>
            <h2 class="font-sans text-md">Faculty {{request.user.groups.all.0}}</h2>
        </div>
        
        <div class="flex flex-col ">
            <div class="z-10 pt-4 pl-4 overflow-hidden">
                <div class="px-4 py-3" style="background-color: white; box-shadow: 0 2px 10px rgb(172, 172, 172); width: 15rem;">
                    <div class="flex items-center justify-start w-full px-4" style="border: 1px solid rgba(130, 130, 130, 0.439); border-radius: 40px;"> 
                        <input class="w-full text-sm h-7" placeholder="Search Proffesor" style='background-color: transparent'>
                        <button>    
                            <img src='{% static "img/home/search.webp" %}'>
                        </button>
                    </div>
                </div>
            </div>
            <div class="px-4 py-2 ml-4 h-96" style='background-color: white; box-shadow: 0 2px 10px rgb(172, 172, 172); '>
                <table class="w-full" style="border-spacing:10px; border-collapse: separate; color: #555555;">
                    <tr class="h-4">
                        <th class="px-2 w-44 " style="background-color: #E7E7E7">Professor Code</th>
                        <th class='px-4 text-left' style="background-color: #E7E7E7">Faculty Name</th>
                        <th class='px-4 text-left' style="background-color: #E7E7E7">Time In</th>
                        <th class='px-4 text-left' style="background-color: #E7E7E7">Time Out</th>
                    </tr>
                    {% for faculty in query_table %}
                        <tr>
                            <td class='text-center'><a href="{% pageurl faculty_load %}?professor={{faculty.pk}}">{{faculty.prof_code}}</a></td>
                            <td class='px-4 '><a href='{% pageurl faculty_load %}?professor={{faculty.pk}}'>{{faculty.prof_name}}</a></td>
                            <td class='px-4 '><a href='{% pageurl faculty_load %}?professor={{faculty.pk}}'>
                                {% if faculty.time_in %}
                                    {{faculty.time_in}}
                                {% else %}
                                    ------
                                {% endif %}
                            </a></td>
                            <td class='px-4 '><a href='{% pageurl faculty_load %}?professor={{faculty.pk}}'>
                                {% if faculty.time_out %}
                                    {{faculty.time_out}}
                                {% else %}
                                    ------
                                {% endif %}
                            </a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
{% endblock %}