{% load static %}

<nav class="bg-primary" style="box-shadow: 4px 0 8px 0px rgb(124, 124, 124);">
    <button class="px-2 py-2" aria-label="Burger Menu" >
        <img src='{% static "img/home/burger.webp" %}' width='44' alt='Home'>
    </button>
    
    <ul class="py-16 pr-4 space-y-4">
        <li class="flex space-x-2">
            <div class="w-2 {% if page_menu == 'faculty_load' %}bg-secondary{% endif %}" style="height: 35px;"></div>
            <a href="/">
                <img src='{% static "img/home/home.webp" %}' width='35' alt='Home'>
            </a>
        </li>
        {% if department_head_page  %}
        <li class="flex space-x-2">
            <div class="w-2 {% if page_menu == 'department_head_page' %}bg-secondary {% endif %}" style="height: 35px;"></div>
            <a href="{{department_head_page.url}}" aria-label="List">
                <img src='{% static "img/home/list.webp" %}' width='35' alt='List'>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>