{% for data in datas %}
<tr>
    <td class="text-xl text-center" style="height: 2.5rem;">
        {% if data.approved %}
        <div  class="flex justify-center check" onmouseover='crossHover(this,true);' onmouseout="crossHover(this,false);">
        <span class="text-green-700">&#10003;</span>
        <h1 class="text-xs text-center text-green-700 uppercase " style="display: none;">Approved</h1>
        </div>
        {% else %}
        <div class="flex justify-center" onmouseover='crossHover(this,true);' onmouseout="crossHover(this,false);">
        <span class="text-red-700">&#10005;</span>
        <h1 class="text-xs text-center text-red-700 uppercase " style="display: none;">Waiting for approval</h1>
        </div>
        {% endif %}
    </td>
    <td class="text-sm">{{data.schedule.subject.subject_code}}</td>
    <td class="text-sm">{{data.schedule.subject.description}}</td>
    <td class="text-sm">{{data.schedule.subject.lec}}</td>
    <td class="text-sm">{{data.schedule.subject.lab}}</td>
    <td class="text-sm">{{data.schedule.subject.units}}</td>
    <td class="text-sm">{{data.schedule.section}}</td>
    <td class="text-sm">{{data.schedule}}</td>
</tr>
{% endfor %}